<h1>Add a course</h1>

<form action='/add' method='post'>
  <div class='input-field'>
    <input id='title' name='title' type='text' class='validate' required />
    <label for='title'>Course Title</label>
    <span class='helper-text' data-error='This field is required'></span>
  </div>
  <div class='input-field'>
    <input id='price' name='price' type='number' class='validate' required />
    <label for='price'>Price</label>
    <span class='helper-text' data-error='This field is required'></span>
  </div>
  <div class='input-field'>
    <input id='img' name='img' type='text' class='validate' required />
    <label for='img'>Image URL</label>
    <span class='helper-text' data-error='This field is required'></span>
  </div>
  <button
    class='btn waves-effect waves-light'
    type='submit'
    name='action'
  >Submit
  </button>
</form>